* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	background: #ffffff;
	color: #1f2933;
	overflow-x: hidden;
}

/* section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} */
/*NAVEGACION NAVEGACION NAVEGACION NAVEGACION NAVEGACION*/

@media screen and (max-width: 766px){
	body{
		overflow-x: hidden;
	}
	#nav{

		height: 0px !important;
	}
	.navbar-brand img{
		position: absolute;
		top: -93px;
		left: -15px !important;
		margin-top: 0px !important;
		width: 100px !important;
		z-index: 10;
	}
	.links-barra-top{
		width: 100%;
	}
    .links-barra-top .ul-menu-top{
	    height: 150px !important;
	}
	.barra-top{
		height: 100px !important;
	}
	#barra-top_id{
		position: relative !important;
	}
	.links-barra-top ul a{
		font-weight: 500;
	}
	.links-barra-top ul li{
		font-weight: 500;	
	}
	.links-barra-top .ul-menu-top{
		justify-content: center !important;
	}
}
@media screen and (min-width: 767px) and (max-width: 1070px){
	
}

/*FIN NAV DINAMICO*/

@media screen and (max-width: 766px){

	.offcanvas{
	background-color: #2266a0;
	}
	.offcanvas button svg{
		background-color: #2266a0 !important;
	}
	.offcanvas-body{
		top: 100px;
	}

	.color-bg-nav-1{
		margin: 10px !important;
		margin-top: -10px !important;
	}
	.color-bg-nav{
		padding: 0px 0px;
		
	}
	.nav-item .nav-navegacion{
		border-left: none !important;
	}
	.desplegable{
		text-align: start !important;
	}
	.color-bg-nav-clicked{
		background-color: #130e33 !important;
	}
	
}

/* Estilo para el menú superior*/
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	position: relative;
	padding: 10px;
	cursor: pointer;
}
.submenu{
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 1;
	border-top: 3px solid #F2A516;
}

.submenu li {
	display: none;
	background-color: white;
	padding: 10px;
	width: 150px;
	color: rgba(31, 41, 51, .75);
	transition: all 0.3s;
}
.submenu li:hover{
	background-color: rgb(224, 224, 224) !important;
}
li:hover .submenu li {
	display: block;
}
/* Estilo para la animación de rotación */
.icon-rotate {
	display: inline-block;
	transition: transform 0.5s ease-in-out;
}
li:hover .icon-rotate {
	transform: rotate(180deg);
	color: white;
}

.barra-top{
	width: 100%;
	height: 40px;
	background-color: #0170B9;
	box-shadow: 2px 3px 3px 2px #12283a20;
	position: relative;
	z-index: 10;
}

.links-barra-top{
	margin-right: 80px;
}
.links-barra-top .ul-menu-top{
	font-weight: bold;
	height: 40px;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 40px;
}

.llamar-barra{
	cursor: default !important;
}
.links-barra-top ul li{
     list-style: none;
	 cursor: pointer;
}
.links-barra-top ul a{
	color: rgba(255, 255, 255, 0.75);
	list-style: none;
	text-decoration: none;
}
.links-barra-top ul a:hover{
	color: white !important;
}

nav{	
	position: relative;
	transition: padding-top 0.3s;
}
.navbar{
	margin: 0 !important;
	padding: 0 !important;
	height: 80px;
}
.navbar-nav{
	margin-right: 20% !important;
	font-weight: bold !important;
}

.navbar-toggler{
	position: absolute;
	top:-95px;
	right: 10px;
	z-index: 20;
	outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important; 
}
.close{
	outline: none !important;
    box-shadow: none !important;
    border: none !important; 
}
.close svg{
	color: white !important;
    background-color: #130e33 !important;
}
.offcanvas{
	width: 50% !important;
}
.offcanvas-title{
	font-size: 1.7em !important;
}
.navbar-brand img{
	width: 180px;
	float: left;
	margin-top: 60px;
	margin-left: 30px;
}
.nav-navegacion{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);	
	text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.nav-navegacion:hover{
	color: white !important;
}

.nav-item .nav-navegacion{
	border-left: 1px solid rgba(151, 151, 151, 0.2);
	height: 20px;
}

.color-bg-nav{
	/* background-color: white; */
	padding: 25px 0px;
}
.color-bg-nav2{
	/* background-color: white; */
	padding: 25px 0px;
}

.color-bg-nav-clicked {
    background-color: #fa4718 !important;
	border-radius: 2px;
}

.desplegable{
	box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
	text-align: end;
	background-color: white;
    border: none !important;
}

.desplegable li a{
	padding-left: 39px;
	margin-top: 15px;
	color: black;   
}

.des-uno{
    margin-top: 5px !important; 
}
.desplegable li a:hover{
	color: white;
	background-color: #fa4718;
}
/*NAV DINAMICO*/
#nav.fixed {
    position: fixed;
	background: white !important;
    top: 0;
    width: 100%;
    z-index: 1000; 
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.1);
	padding: 5px; /* Ajusta el espacio de relleno cuando la barra de navegación es fija */
	transition: 0.2s;
}
.nav-navegacion.color{
	color: #fa4718 !important;
}
.navbar.height{
	height: 50px !important;
}
.navbar-brand img.width{
	width: 100px !important;
}

@media screen and (max-width:400px){
	.offcanvas{
		width: 60% !important;
	}
	.offcanvas-title{
		font-size: 1.5em !important;
	}
	
}

/*PORTADA PORTADA PORTADA PORTADA PORTADA PORTADA*/

@media screen and (max-width: 766px){
	.portada-background h1{
		font-size: 2.5rem !important;
	 }
}
@media screen and (max-width: 1000px){
	.cont-portada{
		background-position-y: 0 !important;
	  }
	  .portada-background .h1-examenes{
		font-size: 3.1rem !important;
	 }
}

.seccion-portada{
    height: 15em;
}

.cont-portada{
	position: absolute;
	top: 0;
	z-index: -1;
    width: 100%;
    height: 24.2em;
    background-image: url("img/mini-portada.jpg");
    background-size: cover;	
    background-position: end;
    background-position-y: -4em;
  }
  .cont-portada-ubicacion{
	position: absolute;
	top: 0;
	z-index: -1;
    width: 100%;
    height: 21em;
    background-image: url("img/recepcion.jpg");
    background-size: cover;	
    background-position: end;
    /* background-position-y: 1em; */
  }
  .cont-portada-equipos{
	position: absolute;
	top: 0;
	z-index: -1;
    width: 100%;
    height: 24.2em;
    background-image: url("img/img_fibra/piscina-fibra-vidrio1.jpg");
    background-size: cover;	
    background-position: bottom;
    /* background-position-y: 1em; */
  }
.background-video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60vh;
	overflow: hidden;
	z-index: -1; /* Para asegurarse de que el video esté en el fondo */
}

/* Estilos del video */
.background-video-container video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	object-fit: cover; /* Asegura que el video cubra todo el contenedor */
}
.cont-portada-background{
	width: 100%;	
	
}
.portada-background-ubicaciones{
    width: 100%;
    height: 21em;
    /* background-image: linear-gradient(to right, #12283a, rgba(18, 40, 58, 0)); */
    background-color: #12283a90;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.portada-background-ubicaciones h1{
    color: #ffffff;
    font-size: 3.5rem;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 700;
 }
.portada-background{
    width: 100%;
    height: 24.2em;
    /* background-image: linear-gradient(to right, #12283a, rgba(18, 40, 58, 0)); */
    background-color: #12283a90;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.portada-background h1{
   color: #ffffff;
   font-size: 3.5rem;
   margin-top: 50px;
   margin-bottom: 20px;
   margin-left: 20px;
   font-weight: 700;
   z-index: 1;
}
.portada-background p{
   color: #ffffff;
   font-size: 1.2em;
   width: 450px;
   letter-spacing: -0.5px;
   text-align:left;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
   margin-left: 70px;
}
.btn1{
    background-color: #d53c11 !important;
    border: #d53c11 !important;
    border-radius: 1.5px !important;
    height: 50px !important;
	/* opacity: 0;
	transition: opacity 0.6s ease-in-out; */
	margin-left: 70px;
    z-index: 1;
}
/* .show{
    opacity: 1 !important;
} */
/* @media screen and (min-width: 1380px){
	.cont-portada{
		height: 500px !important;
		background-size: auto !important;
		}
	.portada-background{
		height: 50px !important;
		border:1px solid #fa4718;
	}
} */

/*EXAMENES EXAMENES EXAMENES EXAMENES EXAMENES*/
@media screen and (max-width: 1000px) {
	.modal-body img {
		width: 100% !important;
	}
}
 .modal-body{
	display: flex;
	justify-content: center;
    align-items: start;

 }
.modal-body img {
	width: 60%;
	height: auto;
}

/*UBICACIONES - UBICAICONES - UBICACIONES - UBICACIONES*/
@media screen and (max-width: 1000px) {
	.contenedor-ubicaciones{
		display: grid;
		grid-template-columns: repeat(1,1fr) !important;
		grid-template-rows: repeat(4,1fr) !important;
		gap: 40px;
	}
	.seccion_1_google-maps{
		height: 1800px !important;
}
.contenedor-nosotros{
	margin-top: 150px !important;
}
.contact-form button {
	width: 180px !important;
	height: 40px !important;
	font-size: 1.1rem !important;
}
}
@media screen and (max-width: 766px){
	.llamar-barra-ubicacion ul li{
		text-decoration: none;
		list-style-type: none;
	}
	.portada-background-ubicaciones h1{
		font-size: 3.2rem !important;
		margin-top: 20px;
	}
	.telefonos-ubicacion-relative{
		height: 277px !important;
	} 
	.contenedor-nosotros .img-ubicaciones{
		width: 103%;
		height: 300px !important;
	}
	.opacity-ubicaciones-contacto{
		width: 103% !important;
	}
	.seccion_1_google-maps{
		margin-left: -30px !important;
	}
	.contenedor-google-maps iframe{
        width: 340px !important;
		border: 1px solid red;
	}
	.contenedor-ubicaciones button{
		width: 180px !important;
		height: 40px !important;
		font-size: 1.1rem !important;
	}
	.contact-form button {
		width: 180px !important;
		height: 40px !important;
		font-size: 1.1rem !important;
	}
}
.telefonos-ubicacion-relative{
	position: relative;
	height: 217px;
	font-weight: 600;
}
.contenedor-textos-maps p{
    margin: 0;
}
.embed-responsive{
	margin-top: 10px;
}
.seccion_1_google-maps{
    height: 850px;
    margin-top: 40px;
	margin-left: -20px;
}
.contenedor-ubicaciones{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 40px;
}
.contenedor-ubicaciones button{
    display: flex;
	justify-content: center;
	align-items: center;
	width: 230px;
	height: 50px;
	font-size: 1.3rem;
	letter-spacing: -1px;
	font-weight: 700;
	background-color: transparent;
    border-color: #2266a0;
    color: #2266a0;
}
.contenedor-ubicaciones a{
    text-decoration: none;
}
.llamar-barra-ubicacion{
	position: absolute;
	bottom: 40px;
	left: 20px;
	z-index: 1;
	background-color: #fa4718;
	color: white !important;
	cursor: pointer;
	text-decoration: none;
	list-style-type: none;
}
.llamar-barra-ubicacion ul li a{
	text-decoration: none;
}

.contenedor-nosotros .img-ubicaciones{
	background-image: url(./img/formulario_2.jpg);
    height: 685px;
	background-size:cover;
    background-position: center;
	grid-column: 1 / 2; /* Primera columna */
	grid-row: 2 / 11; 
}

.contenedor-imgs-contacto{
	position: relative;
    display: inline-block;
}

.opacity-ubicaciones-contacto{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #12283a70;
	z-index: 1;
}
.img-ubicaciones{
    display: block;
}



/*SECCION FIBRA - SECCION FIBRA - SECCION FIBRA*/
@media screen and (max-width: 766px){
	.seccion-equipos h2{
		padding: 10px !important;
	}
	.seccion-equipos p{
		padding: 10px !important;
	}
	.carousel-contenedor .carousel-item{
		display: grid !important;	
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2,1fr);	
		height: fit-content !important;
		margin-top: 20px;
		width: 70%;
		margin-left: 15%;
	} 

    .card-custom {
		width: 170px !important; /* Tamaño de las tarjetas */
		height: 270px !important;
		padding: 5px;
		text-align: center;
		margin: 10px;
	  }
	 

	.card-title {
		font-size: 0.7rem !important; /* Reduce el tamaño de la fuente */
		margin-bottom: -0.7rem !important; /* Reduce el margen inferior */
		line-height: 1.2 !important; /* Ajusta la altura de la línea */
	}

	  .card-body button{
		margin-bottom: -0.8rem !important;
        font-size: 0.7rem !important;
	  }
	  .carousel-control-prev
      { 
	   left: 58% !important;
	  }
	  .carousel-control-next{
		left: 68% !important;
	  }
	  .card .img-equipos-cont{
		height: 450px !important;
	}	
	.seccion-beneficios{
		margin-top: 48px !important;
	}
	.contenedor-total-beneficios{
		margin-left: 0px !important;
		padding: 10px;
	}
	.contenedor-beneficios{
		grid-template-columns: repeat(1,1fr) !important;
		grid-template-rows: repeat(4,1fr) !important;
		width: 100% !important;
	}
	.titulos-beneficios{
		padding: 10px !important;
		}
	.titulos-beneficios p{
			width: 100% !important;
		}
	.contenedor-img-portada-beneficios{
		grid-column: 1 / 2 !important; 
		grid-row: 4 / 5 !important;	
	}
	.sub-contenedor-beneficios h3{
	    text-align: center;
	}
	.sub-contenedor-beneficios p{
		width: 100% !important;
		text-align: justify;
		font-size: 1rem;
		padding: 0px 20px;
	}

/* ------------------------------------------------	 */
 .seccion_2{
	
 }
.flex-seccion2{
		padding: 10px !important;
	    flex-direction: column;
		height: fit-content !important;
	}

	.contenedor-revestimiento h2{
		font-size: 2.5rem !important;
		padding: 5px;
	}

	.textos-nosotros{
		height: fit-content !important;
		padding: 15px !important;
	}
	
}
@media screen and (min-width: 766px) and (max-width: 1000px){
	.carousel {
		width: 90%;
	}
	.carousel-contenedor .carousel-item{
		display: grid !important;	
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2,1fr);	
		height: fit-content !important;
		margin-top: 30px;
		width: 70%;
		margin-left: 15%;
	} 
    .card-custom{
		margin: 0px !important;
	}
	.carousel-control-prev
	{ 
	
	}
	.carousel-control-next{
	   right:270px !important;
	}
	
/* ------------------------------------------- */

    .contenedor-nosotros p{
		width: 100% !important;
	}
	.contenedor-nosotros{
        padding: 0px !important;
	}
	.contenedor-revestimiento{
		
	}
	.contenedor-revestimiento img{
		grid-row: 2 / 8 !important;	
	}
	.contenedor-nosotros .textos-nosotros{
	
		padding: 10px;
		background-color: #38D0F230;
	 }
	.seccion_2{
		flex-direction: column;	
		margin-top: 50px !important;
		
	}
}

.seccion-beneficios{
	height: fit-content;
	margin-top: 28px;
	border: 1px solid red;
}
.titulos-beneficios{
padding: 30px;
}
.titulos-beneficios h2{
    font-size: 2.5rem;
	font-weight: 700;
}
.titulos-beneficios p{
	font-size: 1.2rem;
	width: 75vw;
}
.contenedor-total-beneficios{
	display: flex;
	justify-content: start;
	margin-left: 30px;
}
.contenedor-beneficios{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	gap: 40px;
	width: 80%;
}
.sub-contenedor-beneficios{
	display: flex;
	width: 100%;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	background-color: #38D0F230;
}
.img-beneficios{
	width: 100px;
	padding: 10px;
}

.sub-contenedor-beneficios h3{
}
.sub-contenedor-beneficios p{
    width: 20vw;
	text-align: justify;
	font-size: 1rem;
}
.contenedor-img-portada-beneficios{
	grid-column: 1 / 4; 
	grid-row: 2 / 3;	
}
.img-inferior-beneficios{
	width: 100%;
	height: 50vh;
	background-blend-mode: multiply;
	background-color: #38D0F230;
	background-image: url(./img/img_fibra/fibra_3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:bottom;
}
.img-inferior-beneficios-hormigon{
	width: 100%;
	height: 50vh;
	background-blend-mode: multiply;
	background-color: #38D0F250;
	background-image: url(./img/img-hormigon/cascada1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:80% 20%;
}
.img-inferior-revestimiento{
	width: 100%;
	height: 50vh;
	background-blend-mode: multiply;
	background-color: #38D0F250;
	background-image: url(./img/img-diamond/diamond-brite.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:80% 20%;
}

/* SECCION EQUIPOS - SECCION EQUIPOS - SECCION EQUIPOS */

.seccion-equipos{
	margin-top: 20px;
}
.seccion-equipos h2{
	font-size: 2.5rem;
    font-weight: 700;
	padding: 30px;
}
.seccion-equipos p{
    width: 100%;
	font-size: 1.2rem;
	padding: 30px;
}

.card-custom {
    width: 232px; /* Tamaño de las tarjetas */
	height: 300px;
    padding: 5px;
	text-align: center;
	margin: 10px;
  }
  .img-equipos-cont img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Esto asegurará que la imagen cubra completamente el contenedor */
}
.card-custom img{
    width: 150px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.img-equipos-cont{
	height: 250px;
	overflow: hidden;
}
.carousel {
	position: relative;
	margin: 0 auto;
	width: 100%; /* Ajusta este valor según tu preferencia */
}
.card-title {
	font-size: 0.7rem; /* Reduce el tamaño de la fuente */
	margin-bottom: -0.7rem; /* Reduce el margen inferior */
	line-height: 1.2; /* Ajusta la altura de la línea */
}

  .card-body button{
	margin-bottom: -0.8rem;
	font-size: 0.8rem;
  }

.carousel-contenedor .carousel-item{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
        background-color: #12283a; /* Cambia esto según tu preferencia */
        border-radius: 50%;
        padding: 10px;
        }
.carousel-control-prev{ 
	    position: absolute;
		left:55%;
	    top: -20px;
        width: 40px;
		height: 5%;
        }
.carousel-control-next{ 
	position: absolute;
	top: -20px;
	left: 60%;
	width: 40px;
	height: 5%;
	}                                                                                                                                     t

/*SECCION 2 - SECCION 2 - SECCION 2 - SECCION 2 */
.seccion_2{
	width: 100%;
	margin-top: 0px;
	height: 100%;	
}
.flex-seccion2{
	display: flex;
	padding: 30px;
	border: 1px solid #ff0080;
	height: 100vh;
}
.contenedor-revestimiento{
	display: flex;
    flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #38D0F230;
}
.contenedor-revestimiento h2{
	width: 100%;
	height: 13%;
	text-align: start;
	grid-row: 1 / 2;
	color: black;
	z-index: 2;
	font-weight: 700;
	font-size: 2.5rem;
}
.cont-img-seccion2{
    position: relative;
    width: 100%;
    height: 100%;
}
.cont-img-seccion2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #38D0F230;
    mix-blend-mode: multiply;
    z-index: 1;
}

.cont-img-seccion2 img{
    width: 100%;
	object-fit: cover;
	height: 100%;
	grid-column: 1 / 2; 
	grid-row: 2 / 8;
}
/* .opacity-ubicaciones-contacto{
	position: absolute;
	
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 10;
} */
/* .contenedor-nosotros{
	width: 100%;
	height: 100%;
	padding: 40px;
	color: black;
	display: grid;
	grid-template-rows: repeat(6,1fr);
	grid-template-columns: repeat(1,1fr);
	gap: 20px;
	border: 1px solid green;
} */

.textos-nosotros{
	width: 100%;
	padding: 40px;
	display: flex;
	flex-direction: column;
	background-color: #38D0F230;
}
.textos-nosotros h3{
	width: 100%;
	font-size: 2rem;
	font-weight: 500;
}
.textos-nosotros p{
	font-size: 1rem;
	padding: 10px 0px;
	
}
.contenedor-nosotros button{
	width: 230px;
	height: 50px;
	font-size: 1.3rem;
	letter-spacing: -1px;
	font-weight: 500;
	background-color: #1B8EF2;
    border: 2px solid #1B8EF2;
    color: white;
	transition:0.1s ease-in-out;
	box-shadow: 2px 3px 3px 2px #1B8EF230;
}
.contenedor-nosotros button:hover{
	border: 4px solid #38D0F2;
	background-color: #38D0F2 !important;
}


/*FORMULARIO FORMULARIO FORMULARIO FORMULARIO FORMULARIO FORMULARIO FORMULARIO */

@media screen and (max-width: 766px){
.seccion_formulario{
	padding: 10px !important;		
	}
.contenedor-formulario-completo{
	grid-template-columns: repeat(1,1fr) !important;
	}
.cont-img-formulario{
    grid-row: 1 / 2;
	}
}

.seccion_formulario{
    border: 1px solid blue;
	height: fit-content;
	width: 100%;
	padding: 30px;
	margin-top: 0px;
	
}
.titulo-y-formulario{
	background-color: #38D0F230;
}
.titulo-y-formulario h2{
	padding-top: 30px;
	padding-left:30px;
	font-weight: 700;
	font-size: 2.5rem;
}
.titulo-y-formulario p{
	width: 90%;
	padding-left:30px;
	font-size: 1.2rem;
}
.contenedor-formulario-completo{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	width: 100%;
	height: 100%;
}

.cont-img-formulario{
    position: relative;
    width: 100%;
    height: 100%;
}
.cont-img-formulario::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #38D0F230;
    mix-blend-mode: multiply;
    z-index: 1;
}
.img-formulario{
	object-fit: cover;
    width: 100%;
	height: 100%;
}
.textos-formulario{
	width: 100%;
	height: 100%;
	padding: 30px;
}
form{
	display: flex;
	flex-direction: column;
	font-weight: 500;
}
form button{
	margin-top: 10px;
	width: 20%;
	min-width: 100px;
	font-weight: 500;
}
.formulario-edad-telefono{
	padding-top: 15px;
}


/*FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/

@media screen and (max-width: 766px){
	.cont-elemetos-footer{
		flex-direction: column !important;
		width: 100%;
		overflow:hidden !important;
	}
	.footer-img-cont{

	}
	.cont-ul-footer{
		grid-template-columns: repeat(1,1fr) !important;
		margin-top: 120px;
		margin-left:30px;
	}
	
	.cont-footer{
		min-width: 0px !important;
	}
	.contenedor-logo-footer{
		height: 250px !important;

	}
	.contenedor-logo-footer ul{

		margin-top: 20px !important;
	}
	.derechos_pie{
		
	}	
	.cont-lista-footer h4{
		font-size: 5vw !important;
	}
}
@media screen and (min-width: 767px) and (max-width: 1070px){
	.cont-elemetos-footer{
		height: 800px;
	}
	.cont-ul-footer{
		display: grid;
		grid-template-columns: repeat(2, 1fr) !important;
		height: 900px !important;
		margin-top:100px;
	}
	.logo-footer-3{
		margin-top: -200px !important;
	}
	.derechos_pie{
		margin-top: -40px !important;
	}
}
footer{
    position: relative;
    box-shadow: -2px -4px 4px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin-top: 80px;
}

.cont-elemetos-footer{
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	min-width: 1000px;
	height: fit-content;
	background-image: linear-gradient(to right,#12283a , #0170B9);
}
.cont-ul-footer{
	display: flex;
	justify-content:space-evenly;
	align-items: center;
    width: 100%;
	height: 500px;
}
.footer-img-cont{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 10px;
	left: 20px;
}

.contenedor-logo-footer{
 display: flex;
 height: 100%;
 padding: 10px;
}

.contenedor-logo-footer ul{
	align-items:start;
	justify-content: center;
	width: 250px;
	padding-top: 30px;
	margin-left: 5px;
}
.contenedor-logo-footer ul li a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
	font-weight: 400;
}

.cont-lista-footer{
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	width: 700px;
	margin-left: 0px;
}
.cont-lista-footer h4{
	font-size: 1.7em;
}
.cont-lista-footer li{
	padding: 10px 0px;
	list-style: none;
	color: #f2f2f2;
	font-size: 1em;
}
.derechos_pie{
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.75);
	font-size: 0.75rem;
	height: fit-content;
	background-image: linear-gradient(to right,#12283a , #0170B9);
}